*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Karla", sans-serif;
}

header{
  display: flex;
  align-items: center;
  padding: 25px 30px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}

main {
  padding: 36px;
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
}

.logo-icon{
  width: 31.31px;
  height: 26.22px;
  margin-right: 7px;
}

.logo-text{
  font-size: 20.75px;
  font-weight: 700;
  line-height: 24.25px;
  letter-spacing: -0.1em;

}

.course-name{
  margin-left: auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;

}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}


.meme--image{
  width: 50%;
  margin: auto;
  margin-top: 30px;
}